.search {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 40%;
    height: 40px;
    top: -2px;
    left: -2px;
    border: solid #000 2px;
    background: #ecebeb;
    z-index: 10;
    &__input, &__btn {
        border-radius: 0;
        border: solid #000 1px;
        margin-left: 5px;
        outline: none;
    }
    &__input {
        width: 60%;
        height: 20px;
    }
    &__btn {
        padding: 2px 10px;
        cursor: pointer;
    }
}